version: '3'

services:
  app:
    build: .
    command: npm start
    volumes:
      - .:/app
      - ./node_modules:/app/node_modules
    env_file: 
      - ./app-env.env
    ports:
      - 3000:3000