version: '3'
services:
  app:
    build: .
    command: npm start
    volumes:
      - ./:/app
      - ./node_modules:/node_modules
    environment: 
      - MONGO_CONNECTION: ${"MONGO_CONNECTION":"mongodb+srv://victor:mZQCxSRX1cUqTTAt@cluster0.afhhe.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"}
    ports:
      - 3000:3000