version: '3'

services:
  app:
    build: .
    command: npm start
    volumes:
      - .:/app
      - ./.env:/app/.env
      - ./node_modules:/app/node_modules
    env_file:
      - .env
    ports:
      - 3000:3000